name: GEN_DOC

# Controls when the action will run. Triggers the workflow on push
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  check_doc_changes:
   runs-on: ubuntu-latest
   outputs:
     doc_files: ${{ steps.check_doc_changes.outputs.doc_files }}
   steps:
     - uses: actions/checkout@v2
       with:
         fetch-depth: 2
     - name: Check if doc files were changed
       id: check_doc_changes
       run: |
         doc_files="$(git diff master^ --name-only  | grep '\.md\|\.txt' || true)"
         echo "::set-output name=doc_files::$doc_files"
   
  gen_doc:
    runs-on: ubuntu-latest
    needs: check_doc_changes
    if: ${{ needs.check_doc_changes.outputs.doc_files }}

    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        wget https://github.com/jgm/pandoc/releases/download/2.9.2.1/pandoc-2.9.2.1-1-amd64.deb
        sudo dpkg -i pandoc-2.9.2.1-1-amd64.deb
        sudo apt-get update && sudo apt-get install texlive-xetex texlive-lang-cyrillic librsvg2-bin
        
    - name: Generate Documentation.md
      run: |
        python Documentation/gen.py
    
    - name: Generate PDF
      run: |
        cd Documentation
        pandoc Documentation.md -s --output=Documentation.pdf --pdf-engine=xelatex -V mainfont='Lato' -V monofont='Lato' -f gfm -V geometry:margin=1in
        
    - name: Commit
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "Github Action"
        git commit -m "Generate documentation" -a
    
    - name: Push changes
      uses: ad-m/github-push-action@master
      with: 
        github_token: ${{ secrets.GITHUB_TOKEN }}
